@model _4BroShop.Models.EFModels.Category

@{
    ViewBag.Title = "Delete";
}

<h4 style="color:red;"> Bạn có chắc chắn xóa thông tin này?</h4>
<table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <b>THÔNG TIN CHI TIẾT</b>
            <table cellpadding="2" cellspacing="10">
                <tr>
                    <td>Tên loại:</td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td>Icon:</td>
                    <td>
                        @Html.DisplayFor(model => model.Icon)
                    </td>
                </tr>
                <tr>
                    <td>Là:</td>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="margin-left:50px;">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại", "Index")
    </div>
}