@model _4BroShop.Models.EFModels.Product

@{
    ViewBag.Title = "Details";
}

<table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <b>THÔNG TIN CHI TIẾT</b>
            <table cellpadding="2" cellspacing="10">
                <tr>
                    <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.Image)" width="100" height="100" /></td>
                    <td>Mã sản phẩm:</td>
                    <td>@Html.DisplayFor(model => model.CategoryId)</td>
                </tr>
                <tr>
                    <td>Tên sản phẩm:</td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td>Chi tiết:</td>
                    <td>
                        @Html.DisplayFor(model => model.Detail)
                    </td>
                </tr>
                <tr>
                    <td>Giá bán:</td>
                    <td>@Html.DisplayFor(model => model.PriceSale)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
